@model Tenchex.Models.Instrumentations

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Instrumentations</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InstrumentationId" />
            <div class="form-group">
                <label asp-for="InstrumentType" class="control-label"></label>
                <select asp-for="InstrumentType" class="form-control"></select>
                <span asp-validation-for="InstrumentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PressureGaugeId" class="control-label"></label>
                <select asp-for="PressureGaugeId" class="form-control" asp-items="ViewBag.PressureGaugeId"></select>
                <span asp-validation-for="PressureGaugeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PressureTransmitterId" class="control-label"></label>
                <select asp-for="PressureTransmitterId" class="form-control" asp-items="ViewBag.PressureTransmitterId"></select>
                <span asp-validation-for="PressureTransmitterId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiffrentialPressureGaugeId" class="control-label"></label>
                <select asp-for="DiffrentialPressureGaugeId" class="form-control" asp-items="ViewBag.DiffrentialPressureGaugeId"></select>
                <span asp-validation-for="DiffrentialPressureGaugeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiffrentialPressureTransmitterId" class="control-label"></label>
                <select asp-for="DiffrentialPressureTransmitterId" class="form-control" asp-items="ViewBag.DiffrentialPressureTransmitterId"></select>
                <span asp-validation-for="DiffrentialPressureTransmitterId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TemperatureTransmitterId" class="control-label"></label>
                <select asp-for="TemperatureTransmitterId" class="form-control" asp-items="ViewBag.TemperatureTransmitterId"></select>
                <span asp-validation-for="TemperatureTransmitterId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TemperatureGaugeId" class="control-label"></label>
                <select asp-for="TemperatureGaugeId" class="form-control" asp-items="ViewBag.TemperatureGaugeId"></select>
                <span asp-validation-for="TemperatureGaugeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
