@model Tenchex.Models.PressureTransmitter

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>PressureTransmitter</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PressureTransmitterId" />
            <div class="form-group">
                <label asp-for="Kks" class="control-label"></label>
                <input asp-for="Kks" class="form-control" />
                <span asp-validation-for="Kks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelNumber" class="control-label"></label>
                <input asp-for="ModelNumber" class="form-control" />
                <span asp-validation-for="ModelNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AreaClassification" class="control-label"></label>
                <input asp-for="AreaClassification" class="form-control" />
                <span asp-validation-for="AreaClassification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ip" class="control-label"></label>
                <input asp-for="Ip" class="form-control" />
                <span asp-validation-for="Ip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ElementMaterial" class="control-label"></label>
                <input asp-for="ElementMaterial" class="form-control" />
                <span asp-validation-for="ElementMaterial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HousingMaterial" class="control-label"></label>
                <input asp-for="HousingMaterial" class="form-control" />
                <span asp-validation-for="HousingMaterial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProcessConnectionMaterial" class="control-label"></label>
                <input asp-for="ProcessConnectionMaterial" class="form-control" />
                <span asp-validation-for="ProcessConnectionMaterial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpanRange" class="control-label"></label>
                <input asp-for="SpanRange" class="form-control" />
                <span asp-validation-for="SpanRange" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CallibrationRange" class="control-label"></label>
                <input asp-for="CallibrationRange" class="form-control" />
                <span asp-validation-for="CallibrationRange" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SensorType" class="control-label"></label>
                <input asp-for="SensorType" class="form-control" />
                <span asp-validation-for="SensorType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Accuracy" class="control-label"></label>
                <input asp-for="Accuracy" class="form-control" />
                <span asp-validation-for="Accuracy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Repeatabilty" class="control-label"></label>
                <input asp-for="Repeatabilty" class="form-control" />
                <span asp-validation-for="Repeatabilty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Standard" class="control-label"></label>
                <input asp-for="Standard" class="form-control" />
                <span asp-validation-for="Standard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lcd" class="control-label"></label>
                <input asp-for="Lcd" class="form-control" />
                <span asp-validation-for="Lcd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KeyPad" class="control-label"></label>
                <input asp-for="KeyPad" class="form-control" />
                <span asp-validation-for="KeyPad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Protocol" class="control-label"></label>
                <input asp-for="Protocol" class="form-control" />
                <span asp-validation-for="Protocol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_420mA" class="control-label"></label>
                <input asp-for="_420mA" class="form-control" />
                <span asp-validation-for="_420mA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Installation" class="control-label"></label>
                <input asp-for="Installation" class="form-control" />
                <span asp-validation-for="Installation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MountingBracket" class="control-label"></label>
                <input asp-for="MountingBracket" class="form-control" />
                <span asp-validation-for="MountingBracket" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MountingBracketMaterial" class="control-label"></label>
                <input asp-for="MountingBracketMaterial" class="form-control" />
                <span asp-validation-for="MountingBracketMaterial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manifold" class="control-label"></label>
                <input asp-for="Manifold" class="form-control" />
                <span asp-validation-for="Manifold" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManifoldType" class="control-label"></label>
                <input asp-for="ManifoldType" class="form-control" />
                <span asp-validation-for="ManifoldType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManifoldMaterial" class="control-label"></label>
                <input asp-for="ManifoldMaterial" class="form-control" />
                <span asp-validation-for="ManifoldMaterial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaphragmSeal" class="control-label"></label>
                <input asp-for="DiaphragmSeal" class="form-control" />
                <span asp-validation-for="DiaphragmSeal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaphragmSealMaterial" class="control-label"></label>
                <input asp-for="DiaphragmSealMaterial" class="form-control" />
                <span asp-validation-for="DiaphragmSealMaterial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CabillaryTubes" class="control-label"></label>
                <input asp-for="CabillaryTubes" class="form-control" />
                <span asp-validation-for="CabillaryTubes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CabillaryTubesMaterial" class="control-label"></label>
                <input asp-for="CabillaryTubesMaterial" class="form-control" />
                <span asp-validation-for="CabillaryTubesMaterial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
