@model IEnumerable<Tenchex.Models.Projects>

@{
    ViewData["Title"] = "Send";
}

<h1>Project Type</h1>
<p>
	<a asp-action="Create" class="btn btn-success">Create New</a>
</p>

<div class="container row">
    @foreach (var item in Enum.GetNames(typeof(ProjectCategory)))
{
	<div class="col-6">
		<div class="Card" style="border:2px solid black; border-radius:25px">
			<div class="card-body">
				<h4 class="card-title">@Html.DisplayName(item)</h4>
				<a asp-controller="Projects" asp-action="Select" asp-route-id="@item" class="btn btn-primary">Select</a>
			</div>
		</div>
	</div>
}
</div>

