@model Tenchex.Models.Types

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Types</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InstrumentId" class="control-label"></label>
                <input asp-for="InstrumentId" class="form-control" />
                <span asp-validation-for="InstrumentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CableId" class="control-label"></label>
                <input asp-for="CableId" class="form-control" />
                <span asp-validation-for="CableId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PipeId" class="control-label"></label>
                <input asp-for="PipeId" class="form-control" />
                <span asp-validation-for="PipeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompressorId" class="control-label"></label>
                <input asp-for="CompressorId" class="form-control" />
                <span asp-validation-for="CompressorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TankId" class="control-label"></label>
                <input asp-for="TankId" class="form-control" />
                <span asp-validation-for="TankId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PumpId" class="control-label"></label>
                <input asp-for="PumpId" class="form-control" />
                <span asp-validation-for="PumpId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValveId" class="control-label"></label>
                <input asp-for="ValveId" class="form-control" />
                <span asp-validation-for="ValveId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
